<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= hContent %> </p>
    <%postsContent.forEach(function(posts){%>
        <h1><%= posts.title %></h1>
        <p><%= posts.text.substring(0,100) + "..." %> <a href="/posts/<%= posts.title %>">Ler mais</a></p>
    <%});%>
<%- include("partials/footer"); -%>

